<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Documentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    <h1>Documentation</h1>
        <div th:each="endpoint : ${library.endpoints}">
            <div th:each="action : ${endpoint.value.actions}">
                <h3> <span th:text="${action.method}"/> <span th:text="${endpoint.key}"/> </h3>
                <table class="table table-striped">
                    <tbody>
                        <tr><h4>Request body</h4></tr>
                        <tr th:each="dto : ${action.requestBody}">
                            <td th:text="${dto.key}"/>
                            <td th:text="${dto.value}"/>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <tbody>
                        <tr><h4>Response body</h4></tr>
                        <tr th:each="dto : ${action.responseBody}">
                            <td th:text="${dto.key}"/>
                            <td th:text="${dto.value}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>